@supports (grid-area: auto){

    .site{
        display:grid;
        grid-template-columns: 6% repeat(3,1fr) 6% ;
        grid-template-rows:  30px 115px 150px 60px 380px 280px 220px 280px 50px;
        grid-template-areas:
            'upper upper upper upper upper '
            'nav nav nav nav nav'
            'pad db db db pad'
            'pad main main main pad'
            'pad tasks analytics analytics pad'
            'pad recs people people pad'
            'pad recs facts facts pad'
            'pad boxes boxes boxes pad'
            'footer footer footer footer footer';
        font-family: "myriad-pro", sans-serif;
    }

    /*Formating site wide*/
    h1{
       font-size: 24pt;
        color:#2498f4;
        margin-top: 0;
        font-weight: lighter;
    }

    .border{
        border: #efefef 2px solid;
    }

    p{
        margin:0;
        padding:0;
        line-height:1;
    }

    h2{
        margin:0;
        border-radius: 50%;
        background: #33cc66;
        width: 22px;
        color:white;
        text-align: center;
        font-size: 22px;
        font-weight: lighter;
    }

    /*formatting for upper nav bar*/
    .upper{
        grid-column: 1/6;
        grid-row:1/2;
        background: #2293ed;
        height: 40px;
        display: flex;
        color:white;
        justify-content: space-between;
        align-items: center;
    }

    .socialstream, .extras{
        flex-direction: row;
        padding: 7%;
    }

    .extras{
        display:flex;
        top:2px;
        align-items: center;
    }

    .spacer{
        margin: 0 8pt 0 8pt;
    }

    #mini, #help, #settings1, .spacer{
        flex-direction: row;
    }

    /*formatting for main nav bar*/
    .nav{
        margin-top: 10px;
        grid-column: 1/6;
        grid-row:2/3;
        background: repeating-linear-gradient(
        320deg,
        #184a73,
        #184a73 2px,
        #10426f 2px,
        #10426f 4px
        );
        display:flex;
        justify-content: center;
        max-width: 100%;
    }

    .hamburger{
        display:none;
    }

    .icon{
        max-width: 100%;
    }

    /*formatting for dashboard bar*/
    .db{
        grid-column: 2/5;
        grid-row:3/4;
        background: #33cc66;
        margin: 16px;
        border-radius: 5px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    #searchbar{
        position:relative;
        margin-right: 10px;
        align-items: center;
    }

    .hidden{
        display:none;
    }

    #dashboard{
        flex-direction: row;
        margin:0;
        margin-left: 10px;
        font-size: 24pt;
        color:white;
    }

    .glyphicon{
        position: relative;
        font-size:2em;
        color: #2498f4;
       left: 170px;
        top:-30px;
        flex-position:right;
    }

    .form-group{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }

    /*formatting for announcements bar*/
    .main{
        grid-column: 2/5;
        grid-row:4/5;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        margin: 0 16px 0 16px;
    }

    #annc{
        color:#fe7f13;
        font-size: 12pt;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        flex-direction: row;
        width: 20%;
        padding-left: 2%;
    }

    #filler{
        font-size: 12pt;
        color:#777777;
        border-bottom: none;
        border-top: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        width:80%;
        padding-left: 1%;
    }

    .announcementsnav{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        text-align: center;
        align-content: center;
        width:10%;
        align-items:center ;
    }

    /*formatting for tasks section*/
    .tasks{
        grid-column: 2/3;
        grid-row:5/6;
        margin: 0 0px 0 16px;
        display:flex;
        flex-direction: column;
    }

    #tasksheader{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 5%;
        margin-top: 6%;
    }

    .folder{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1pt solid #dddddd;
        color:#2498f4;
        justify-content: space-around;
        padding: 20pt 4pt;
        font-size: 14pt;
    }

    .folder:hover{
        filter: grayscale(100%);
    }

    .midtext{
        width: 180px;
    }

    .head{
        margin-right: 3pt;
    }

    .headholder{
        border: 1pt solid #dddddd;
        border-radius: 3px;
        padding: 4pt;
        display: flex;
        flex-direction: row;
        float:right;
        height:32px;
        align-items: center;
        width: 60px;
        justify-content: space-between;
    }

    /*formatting for analytics section*/
    .analytics{
      grid-column: 3/5;
        grid-row:5/6;
        margin: 0 16px 0 0;
        padding: 15pt;
    }

    #analyticsstats{
        display: flex;
        flex-direction: row;
    }

    #activity{
        display: flex;
        flex-direction: column;
        width: 420px;
        margin: 0 10%;
    }

    .pie{
        display:flex;
        flex-direction: column;
        align-items: left;
        border-left: solid 2pt #efefef;
        padding-left: 5%;
        text-align: left;
        color: #888888;
    }


    .radio{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        position:relative;
    }

    .radiosection{
        position:relative;
    }

    .orangecheck{
        position: absolute;
        display:none;
    }

    .dropdown{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .dropdown-menu{
        right:0;
        float:right;
    }

    .btn-primary {
        color: #777777;
        background-color: #fff;
        border-color: #777777;
    }

    #btn{
        background: none;
    }

    .caret{
        color: #fe7f13;
    }

    /*formatting for recommendations section*/

    .recs{
        grid-column: 2/3;
        grid-row:6/8;
        margin: 0 0px 0 16px;
    }

    #recheader{
        display:flex;
        flex-direction: row;
        align-items: left;
        justify-content: left;
        padding: 5%;
        border-bottom: 1pt solid #dddddd;
    }

    .recfolder{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-bottom: 1pt dotted #dddddd;
        color:#2498f4;
        justify-content: left;
        padding: 12pt 8pt;
        font-size: 12pt;
        color: #777777;
        line-height:1.2;
    }


    .rectext{
        display:flex;
        flex-direction: column;
    }

    .recicon{
        margin-right:10pt;
    }

    .tipicon{
        margin-right: 18pt;
    }

    .miniheader{
        font-size: 9pt;
        margin:0;
        padding: 0;
        color: #888888;
    }

    /*formatting for Contacts and Customers section*/

    .people{
        grid-column: 3/5;
        grid-row: 6/7;
        display: flex;
        margin: 0 16px 0 0;
        padding-top: 1%;
    }

    .contactsdiv, .customersdiv{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        display:flex;
        position:relative;
    }

    .contacts, .customers{
        position:absolute;
        top:0;
    }

    .outline{
        width:227px;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 80%;
        border-radius: 5pt;
    }

    .ribbonleft,.ribbonright{
        position: absolute;
        top:52.5pt;
    }

    .ribbonleft{
        left:40pt;
    }

    .ribbonright{
        right:40pt;
    }

    .ribbon{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .info{
        background:#2394ee;
        color:white;
        height: 55px;
        width:229px;
        position:relative;
        text-align: center;
        margin-bottom: 5%;
        padding: 7%;
        font-size:14pt;
    }

    .sub{
        font-size: 8pt;
    }

    /*formatting for facts section*/
    .facts{
        grid-column: 3/5;
        grid-row: 7/8;
        padding: 10px;
        margin: 0 16px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .factsslider{
        background:#2498f4;
        display:flex;
        border-radius: 5px;
        justify-items: stretch;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        height: 90%;

    }

    .dyktext{
       max-width: 88%;
        justify-self: center;
        text-align: left;
        margin: 5%;
        color: white;
    }

    #dyk{
        margin-bottom: 0;
        padding-bottom: 0;
        line-height:1.5;
    }

    .dykback {
       justify-self: left;
    }

    .dyknext{
        justify-self: flex-end;
    }

    .dyknext, .dykback{
        padding: 0;
        margin:0;
    }

    .lineheight{
        line-height: 1.4;
    }

    /*formatting for ad boxes*/
    .boxes{
        grid-column: 2/5;
        grid-row: 8/9;
        background: #2498f4;
        box-shadow: #c1c0c0 0 0 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 16px 40px 16px;
        position:relative;

    }

    .box{
        flex-direction: column;
        width:25%;
        background: #fff;
        border-radius: 4pt;
        position:relative;
    }

    .leftbox {
        float: left;
    }

    .lbtext{
        position:absolute;
        right: 10pt;
        width:35%;
        text-align: right;
    }

    .lbtext1{
        bottom:48pt;
        font-size: 12pt;
        color:#33cc66;
    }
    .lbtext2{
        bottom:35pt;
        font-size: 8pt;
        color:#666666;
    }

    .box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #middlebox{
        position:absolute;
        right:0;

    }

    .middleboxtext{
        position: absolute;
        background: #33cc66;
        width:80%;
        text-align: center;
        padding: 2%;
        border-radius: 3pt;
        color:#fff;
    }

    .rightbox{
        float:right;
    }

    .rbtext{
        position: absolute;
        float:left;
        top: 30%;
        width: 35%;
        font-size: 12pt;
        color: #fe7f13;
        left: 10pt;
        letter-spacing: 1px;
    }

    /*formatting for footer*/
    .footer{
        grid-column: 1/6;
        grid-row: 9/10;
        background: #f5f5f5;
        border-top: white 2px solid;
        box-shadow: #dddcdc 0 -5px 10px;
        display:flex;
        align-items: center;

    }

    .footercontent{
        display:flex;
        border-left: 1pt #dddddd solid;
        border-right: 1pt #dddddd solid;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0 1% 0 1%;
    }

    .fc1, .fc2, .fc3{
        border-left:none;
    }

    .fc1{
        width: 30%;
        display:flex;
        flex-direction: row;
        align-content: right;
        justify-content: right;
    }

    #links{
        text-align: right;
        float:right;
        margin-bottom: 0;
        padding-bottom:0;
    }

    .fc2{
        width: 40%;
    }

    .fc3{
        border:none;
        width: 12%;
    }

    .fc4{
        width: 12%;
    }


    #uparrow{
        margin-left:10%;
    }

    a{
        font-weight: bold;
        color:#309ef2;
        margin: 0;
        padding: 0;
    }

    /*responsiveness formatting*/
    @media only screen and (max-width: 768px){
        .site{
            display: grid;
            grid-template-columns: 100% ;
            grid-template-rows:  30px 70px 150px 150px 500px 500px 500px 500px 280px 280px 50px;
            grid-template-areas:
            "upper"
            "nav"
            "db"
            "main"
            "tasks"
            "analytics"
            "people"
            "recs"
            "facts"
            "boxes"
            "footer";
        }
        .upper, .nav, .db, .main, .tasks, .analytics, .people, .recs, .facts, .boxes, .footer{
            grid-column: 1/1;
        }

        #help, #settings1{
            margin: 5pt;
            width:20px;
        }

        .nav{
            background: #184a73;
        }

        .icon{
            display:none;
        }

        .hamburger{
            display: inline-block;
            text-align: center;
            height: 30px;
            width: 40px;
        }

        .line{
            background:white;
            height: 8px;
            border-radius: 20px;
            width: 25pt;
            margin: 5pt;
        }



        #searchbar{
            display:none;
        }

        .hiddensearch{
            display:flex;
            z-index: 10000;
            left:-20px;
            top:0;
        }

        tasks{
            grid-row: 5/6;
        }

        .analytics{
            grid-row:6/7;
        }

        #analyticsstats{
            flex-direction: column;
        }

        #activity{
            max-width: 100%;
            margin:0;
            overflow-x: scroll;
        }

        .pie{
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border:none;
            margin-top: 10pt;
        }

        .channels, .referrals{
            display:flex;
            flex-direction: column;
        }

        .people{
            grid-row: 7/8;
            display:flex;
            flex-direction: column;
        }

        .ribbonleft,.ribbonright{
            top:40pt;
        }

        .ribbonleft{
            left:22px;
        }

        .ribbonright{
            right:22px;
        }

        .recs{
            grid-row: 8/9;
        }

        .facts{
            grid-row: 9/10;
        }

        .footer{
            grid-row:11/12;
        }

        .main{
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .announcementsnav, #annc{
            width:100%;
            justify-content: center;
        }

        .leftbutton, .rightbutton{
            margin:0 10pt;
        }

        .boxes{
            grid-row: 10/11;
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .box1{
            display:flex;
            width:90%;
        }

        .lbtext2{
            bottom: 20pt;
        }

        .box2{
            display:none;
        }

        .box3{
            display:none;
        }

        .footer{
            justify-content: space-evenly;
        }

        .fc2{
            display:none;
        }

        .fc4{
            width:35%;
        }

    }













    /*Close @supports function*/
}