@supports (grid-area: auto){

.site{
    display:grid;
    grid-template-columns: 6% repeat(3,1fr) 6% ;
    grid-template-rows:  30px 115px 150px 70px 300px 250px 250px 250px 50px;
    grid-template-areas:
        'upper upper upper upper upper '
        'nav nav nav nav nav'
        'pad db db db pad'
        'pad main main main pad'
        'pad tasks analytics analytics pad'
        'pad recs people people pad'
        'pad recs facts facts pad'
        'pad boxes boxes boxes pad'
        'footer footer footer footer footer';
    font-family: sans-serif;
}
    h1{
       font-size: 24pt;
        color:#2498f4;
    }

    .upper{
        grid-column: 1/6;
        grid-row:1/2;
        background: #2293ed;
        height: 40px;
        display: flex;
        color:white;
        justify-content: space-between;
        align-items: center;
    }
    .socialstream, .extras{
        flex-direction: row;
        padding: 7%;

    }

    .extras{
        display:flex;
        top:2px;
        align-items: center;
    }

    .spacer{
        margin: 0 8pt 0 8pt;
    }

    #mini, #help, #settings1, .spacer{
        flex-direction: row;
    }

    .nav{
        margin-top: 10px;
        grid-column: 1/6;
        grid-row:2/3;
        background: repeating-linear-gradient(
        320deg,
        #184a73,
        #184a73 2px,
        #10426f 2px,
        #10426f 4px
        );
        display:flex;
        justify-content: center;
        max-width: 100%;
    }

    .icon{
        max-width: 100%;
    }


    .db{
        grid-column: 2/5;
        grid-row:3/4;
        background: #33cc66;
        margin: 16px;
        border-radius: 5px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }


    #searchbar{
        position:relative;
        margin-right: 10px;
        align-items: center;
    }

    #dashboard{
        flex-direction: row;
        margin:0;
        margin-left: 10px;
        font-size: 24pt;
        color:white;
    }

    .glyphicon{
        position: relative;
        font-size:2em;
        color: #2498f4;
       left: 170px;
        top:-30px;
        flex-position:right;
    }

    .form-group{
        justify-items: center;
        align-items: center;
    }

    .main{
        grid-column: 2/5;
        grid-row:4/5;
        border-radius: 1px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        margin: 0 16px 0 16px;
    }

    #annc{
        font-family: sans-serif;
        color:#fe7f13;
        font-size: 12pt;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #filler{
        font-size: 12pt;
        color:#777777;
        border-bottom: none;
        border-top: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .announcementsnav{
        display: flex;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        align-content: center;
    }

    .border{
        border: #efefef 2px solid;
    }

    .tasks{
        grid-column: 2/3;
        grid-row:5/6;
        margin: 0 0px 0 16px;
    }

    .analytics{
      grid-column: 3/5;
        grid-row:5/6;
        margin: 0 16px 0 0;
    }
    #activity{
        width:100%;
    }
    #btn{
        background: none;
    }

    .caret{
        color: #fe7f13;
    }

    .recs{
        grid-column: 2/3;
        grid-row:6/8;
        margin: 0 0px 0 16px;
    }

    .people{
        grid-column: 3/5;
        grid-row: 6/7;
        display: flex;
        margin: 0 16px 0 0;
    }
    .contactsdiv, .customersdiv{
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
    }
    .info{
        background:#2394ee;
        color:white;
    }

    .facts{
        grid-column: 3/5;
        grid-row: 7/8;
        padding: 10px;
        margin: 0 16px 0 0;
    }

    .factsslider{
        background:#2498f4;
        display:flex;
        border-radius: 5px;
        justify-items: stretch;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

    }

    .dyktext{
       max-width: 88%;
        justify-self: center;
        text-align: left;
        margin: 5%;
        color:white;
    }

    #dyk{
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .dykback {
       justify-self: left;
    }

    .dyknext{
        justify-self: flex-end;
    }

    .dyknext, .dykback{
        padding: 0;
        margin:0;
    }

    .boxes{
        grid-column: 2/5;
        grid-row: 8/9;
        background: #2498f4;
        margin-bottom: 40px;
        box-shadow: #c1c0c0 0 0 3px;
        display: flex;
        margin: 0 16px 0 16px;
    }

    .box1, .box2, .box3{
        flex-direction: column;
    }

    .footer{
        grid-column: 1/6;
        grid-row: 9/10;
        background: #f5f5f5;
        border-top: white 2px solid;
        box-shadow: #dddcdc 0 -5px 10px;
        display:flex;
        align-items: center;
        justify-content: space-around;
    }

    .footercontent{
        display:flex;
        border-left: 1pt #dddddd solid;
        border-right: 1pt #dddddd solid;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 2% 0 2%;
    }

    .fc1, .fc2, .fc3{
        border-left:none;
    }

    .fc1{
        margin-left: none;
    }

    .fc3{
        border:none;
    }

    #uparrow{
        margin-left:10%;
    }


    @media only screen and (max-width: 768px){
        .site{
            grid-template-areas:
            "upper upper upper upper upper"
            "nav nav nav nav nav"
            "db db db db db"
            "main main main main main"
            "tasks tasks tasks tasks tasks"
            "analytics analytics analytics analytics analytics"
            "people people people people people"
            "recs recs recs recs recs"
            "facts facts facts facts facts"
            "boxes boxes boxes boxes boxes"
            "footer footer footer footer footer";
        }
        .upper, .nav, .db, .main, .tasks, .analytics, .people, .recs, .facts, .boxes, .footer{
            grid-column: 1/6;
        }

    }













    /*Close @supports function*/
}